body {
	background-color: #FF7C5D;
}

#main-button {
	text-align: center;
	display: flex;
    	flex-wrap: wrap;
    	padding: 0 40px;
}

@media only screen and (max-width: 900px){
	body {background-color: #000000};
	#main-button{object-fit:cover}
}
