body {
	background-color:#FF7C5D;
	font-family: 'Open Sans', sans-serif;
}

.main-button {
	text-align: center;
	display: flex;
    	flex-wrap: wrap;
}

/*This is the picture of the dog to add/identify.*/
.dog-pic {
	max-width: 200px;
	max-height: 200px;
}

.main-click:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 40;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #000000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 1100px){
	.main-button{text-align:center;display:flex;flex-wrap:wrap;width:70%;height:20%;}
	.identify-dog{float:none;width:90%;}
	.main-title{width:250%;height: 250%;}
	.main-click:hover{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
	.main-space{width:100%;height: 100%;}
	.create-account{text-align:center;display:flex;flex-wrap:wrap;width:100%;padding-bottom:10%;}
	.foundInstrTxt{width:300%;height: 300%;}
	#big-logo{height:200%}
	body{background-color: #FF7C5D;}
}
