body {
	background-color: #FF7C5D;
}

.main-button {
	text-align: center;
	display: flex;
    	flex-wrap: wrap;
	padding-bottom:50%;
}

.main-space {
	width: 10%;
    	height: 10%;
}

@media only screen and (max-width: 1100px){
	.main-button{text-align:center;display:flex;flex-wrap:wrap;width:25%;height:25%;padding-bottom:20%;}
	.main-space{width: 100%;height: 100%;}
	#big-logo{width:200%;height:200%}
	body{background-color: #FF7C5D;}
}
