body {
	background-color: #FF7C5D;
}

.main-button {
	text-align: center;
	display: flex;
    	flex-wrap: wrap;
    	padding: 0 40px;
	width: 200%;
	height: 200%;
}

@media only screen and (max-width: 900px){
	body {background-color: #000000};
	.main-button{width:50%;margin:auto;padding:70px 0;}
}
