head {
	color: #000000;
}

body {
	background-color: #FF7C5D;
}

.main-button {
	text-align: center;
	display: flex;
    	flex-wrap: wrap;
}

.main-button:hover{
	border: 2px solid #FFEA95;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media only screen and (max-width: 1100px){
	.main-button{text-align:center;display:flex;flex-wrap:wrap;width:70%;height:20%;}
	.main-space{width:100%;height: 100%;}
	#big-logo{height:200%}
	body{background-color: #FF7C5D;}
}
