body {
	background-color: #FF7C5D;
}

.main-button {
	text-align: center;
	display: flex;
    	flex-wrap: wrap;
}

@media only screen and (max-width: 600px){
	.main-button{text-align:center;display:flex;flex-wrap:wrap;height:1000%;width:600%}
}
